body {
    font-family: "Trebuchet MS";
}

.topnav {
  overflow: hidden;
  background-color: #181761;
  font-family: "Trebuchet MS";
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #7f7ee0;
  color: white;
}

.topnav-right {
  float: right;
  overflow: hidden;
  background-color: #181761;
  font-family: "Trebuchet MS";
}

.container {
padding: 16px;
}
    
.popUpLogin {  /* The popUpLogin (background) */
display: none; /* Hidden by default */
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgba(0,0,0,0.4); 
padding-top: 60px;
}
    
.popUpLogin-content { 
background-color: #fefefe;
margin: 5% auto 15% auto; 
border: 1px solid #888;
width: 80%; 
}

.navbar-right{
float: right;
overflow: hidden;
background-color: #181761;
font-family: "Trebuchet MS";
}

.popUpCreateAccount {  /* The popUpLogin (background) */
display: none; /* Hidden by default */
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%; 
height: 100%; 
overflow: auto; 
background-color: rgba(0,0,0,0.4); 
padding-top: 60px;
}
    
.popUpCreateAccount-content { 
background-color: #fefefe;
margin: 5% auto 15% auto; 
border: 1px solid #888;
width: 80%; 
}