<html>

<head>
    <title>Which Wings</title>
    <link href="/static/style.css" rel="stylesheet">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1092993779160-b5l7640cfd4e0te7b50o3sopu4ledgjo.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/static/logout.js"></script>
</head>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/search">Search</a>
    <a href="/profile">Profile</a>
    <div class = "navbar-right">
        <a href="/login">Login</a>
        <a href="/logout" onclick="signOut();">Logout</a>
    </div>
</div>

<body>
  <h1>Welcome to Which Wings</h1>

  <div>
      <h2>Your top picks:</h2>
      <div>
      {% for i in picks %}
        <div class = "card">
            <h3><b>{{i.name}} </b></h3>
            <p> {{i.description}} </p>
        </div>
      {% endfor %}
      </div>
  </div>
</body>
</html>