<html>
<head>
  <title>Which Wings</title>
  <link href="/static/style.css" rel="stylesheet">
</head>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/search">Search</a>
  <a href="/profile">Profile</a>
</div>

<body>
  <h1>Welcome to Which Wings</h1>

  <div>
      <h2>Your top picks:</h2>
      <div>
      {% for i in picks %}
        <div class = "card">
            <h3><b>{{i.name}} </b></h3>
            <p> {{i.description}} </p>
        </div>
      {% endfor %}
      </div>
  </div>

    <button type="button"> <a href="/survey">Take survey </a></button> 

  
  
</body>
</html>
