<head>
  <title>Which Wings</title>
  <link href="/static/style.css" rel="stylesheet">
</head>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/search">Search</a>
  <a class="active" href="/profile">Profile</a>
</div>

<body>
  <h1>Profile</h1>
  <p>Username = fakeUser</p>
  <p>Top Flavor Choices: Hot, Honey, Barbeque </p>
  <p>Favorite Classic Wings: Honey Barbeque, Honey Old Bay, Gold Barbeque </p>
  <p>Favorite Signature Wings: Gold Fire, Black Magic, Big Easy </p>
  </p><a href="/surveyMax">Retake flavor survey</a>
  
</body>
</html>