<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <style>
        body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box;} 
    </style>
</head>

<head>
    <title>Which Wings</title>
    <link href="/static/style.css" rel="stylesheet">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1092993779160-b5l7640cfd4e0te7b50o3sopu4ledgjo.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/static/logout.js"></script>
</head>

<!--
<div class="topnav">
  <a href="/">Home</a>
  <a href="/search">Search</a>
  <a class="active" href="/profile">Profile</a>
  <div class = "navbar-right">
        <a href="/login">Login</a>
        <a href="/logout" onclick="signOut();">Logout</a>
    </div>
</div>
-->

<div id = "sidebar" class = "sidebar">
    <div class="tBars" onclick="toggleSideBar()">
        <span></span> 
        <span></span>
        <span></span>            
    </div>
    
    <div class="row justify-content-center"><a href="/">Home</a></div>
    <div class="row justify-content-center"><a href="/search">Search</a></div>
    <div class="row justify-content-center"><a href="/profile">Profile</a></div>
    <div class = "row navbar-right justify-content-center">
        <a href="/login">Login</a>
        <a href="/logout" onclick="signOut();">Logout</a>
    </div>        
    
</div>

<body>
  <h1>Profile</h1>
  <h2>Username = {{user_name}}</h2>
  <h3>Top Flavor Choices: </h3>
    {% for i in picks%}
    <p>
        {{i.description}}
    </p>
    {% endfor %}
  <h4>Favorite Wings: </h4>
    {% for i in picks%}
    <p>
        {{i.name}}
    </p>
    {% endfor %}
  <button class="open-button" onclick="openSpiceForm()">Take Survey</button>

    <div class="form-popup-radio" id="spiceForm">
        <form action="/action_page.php" class="form-container-radio">
            <h1>Wing Survey</h1>
            <h2>Spice Level</h2>

            <input type="radio" id="Hot" name="SpiceLvl" value="hot">
            <label for="male">Hot</label><br>
            <input type="radio" id="notHot" name="SpiceLvl" value="notHot">
            <label for="notHot">Not Hot</label><br>
            <input type="radio" id="noSpicePref" name="SpiceLvl" value="noPref">
            <label for="noPref">No Preference</label>
            <p></p>
            <button type="button" class="btn" onclick="openWetnessForm()">Next Question</button>
            <button type="button" class="btn cancel" onclick="closeSpiceForm()">Close</button>
        </form>
    </div>

    <div class="form-popup-radio" id="wetnessForm">
        <form action="/action_page.php" class="form-container-radio">
            <h1>Wing Survey</h1>
            <h2>Wetness Level</h2>

            <input type="radio" id="Wet" name="moistLvl" value="wet">
            <label for="wet">Wet</label><br>
            <input type="radio" id="Dry" name="moistLvl" value="dry">
            <label for="dry">Dry</label><br>
            <input type="radio" id="noMoistPref" name="moistLvl" value="noPref">
            <label for="noPref">No Preference</label>
            <p></p>
            <button type="button" class="btn" onclick="openFlavorChoicesForm()"">Next Question</button>
            <button type="button" class="btn cancel" onclick="closeWetnessForm()">Previous Question</button>
        </form>
    </div>

    <div class="form-popup-button-list" id="flavorsForm">
        <form action="/action_page.php" class="form-container-button-list">
            <h1>Wing Survey</h1>
            <h3>Please select all of the following flavors you would be open to in your wing options.</h3>
            <button id="selectButton" display="block" type="button" class="flavorBtn" onclick="selectAll()">Select All</button>
            <button id="deselectButton" display="block" type="button" class="flavorBtn" onclick="deselectAll()">Deselect All</button>
            <button id="0" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Atomic Dust</button>
            <button id="1" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Barbeque</button>
            <button id="2" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Black Magic</button>
            <button id="3" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Blue Cheese</button>
            <button id="4" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Big Shot Bob Seasoning</button>
            <button id="5" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Buffalo</button>
            <button id="6" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Butter</button>
            <button id="7" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Cajun</button>
            <button id="8" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Cayenne</button>
            <button id="9" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Chili</button>
            <button id="10" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Dijon</button>
            <button id="11" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Garlic</button>
            <button id="12" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Honey</button>
            <button id="13" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Honey Mustard</button>
            <button id="14" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Jalapeno</button>
            <button id="15" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Jerk Seasoning</button>
            <button id="16" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Lawry's Seasoned Salt</button>
            <button id="17" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Lemon</button>
            <button id="18" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Montreal</button>
            <button id="19" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Old Bay</button>
            <button id="20" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Parmesan</button>
            <button id="21" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Pepper</button>
            <button id="22" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Ranch</button>
            <button id="23" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Raspberry</button>
            <button id="24" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Seasoned</button>
            <button id="25" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Sweet</button>
            <button id="26" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Teriyaki</button>
            <button id="27" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Vinegar</button>
            <button id="28" data-binary="1" type="button" class="flavorBtn" onclick="iveBeenClicked(this)">Open to Surprises</button>
            
            <p></p>
            <button type="button" class="btn cancel" onclick="closeFlavorChoicesForm()">Previous Question</button>
            <button type="button" class="btn" onclick="finishSurvey()">Complete Survey</button>
        </form>
    </div>

    <script>
        function openSpiceForm() {
            //Insert Blur here
            //document.getElement(body).blur = "4px";         
            document.getElementById("spiceForm").style.display = "block";
        }
            
        function closeSpiceForm() {
            document.getElementById("spiceForm").style.display = "none";
        }

        function openWetnessForm() {
            if (!document.querySelectorAll('input[name=SpiceLvl]:checked').length) {
                alert("Please answer the question.");
                return;
            }
            document.getElementById("wetnessForm").style.display = "block";
        }
            
        function closeWetnessForm() {
            document.getElementById("wetnessForm").style.display = "none";
        }

        function openFlavorChoicesForm() {
            if (!document.querySelectorAll('input[name=moistLvl]:checked').length) {
                alert("Please answer the question.");
                return;
            }
            document.getElementById("flavorsForm").style.display = "block";
            deselectAll();
        }

        function closeFlavorChoicesForm() {
            document.getElementById("flavorsForm").style.display = "none";
        }

        function finishSurvey() {
            closeFlavorChoicesForm();
            closeWetnessForm();
            closeSpiceForm();
            magicWingNumber = calculateWingNumbers();           
            spiceMositurePreference = calculateSpiceMositurePreferences();
            $.ajax(
                {
                    type:'POST',
                    url:'/profile-results?mwn='+magicWingNumber+'&smp='+spiceMositurePreference,
                    dataType: "json",
                    success:function(data){                      
                    }
                }
            ).done(function(){
            });            
            //Send numbers back
            //Remove blur here
        }

        function iveBeenClicked(pressedButton) {          
            if (pressedButton.getAttribute("data-binary") == "1") {
                selectMe(pressedButton)
            }
            else {
                deselectMe(pressedButton)
            }
        }

        function selectMe(pressedButton) {
            document.getElementById(pressedButton.id).style.backgroundColor = "rgb(30, 200, 235)";
            pressedButton.setAttribute("data-binary","0")
        }
        
        function deselectMe(pressedButton) {
            document.getElementById(pressedButton.id).style.backgroundColor = "rgb(241, 210, 255)";
            pressedButton.setAttribute("data-binary","1")
        }

        function selectAll() {
            document.getElementById("selectButton").style.display = "none";
            document.getElementById("deselectButton").style.display = "block";
            for (i=0; i<=28; i++)
                selectMe(document.getElementById(i));
        }

        function deselectAll() {
            document.getElementById("deselectButton").style.display = "none";
            document.getElementById("selectButton").style.display = "block";
            for (i=0; i<=28; i++)
                deselectMe(document.getElementById(i));
        }
        
        function calculateWingNumbers() {
            //Magic Wing Number
            mWN = 0;
            for (i=0; i<=28; i++) {
                mWN = mWN + checkWingNumber(i);
            }
            //alert(mWN);  
            return mWN;          
        }

        function checkWingNumber(idNumber) {
            numString = document.getElementById(idNumber).getAttribute("data-binary");
            binNum = parseInt(numString);
            powNum = parseInt(idNumber);
            return binNum*(2**powNum);
        }

        function calculateSpiceMositurePreferences() {
            sMP = 0
            if (document.getElementById("Hot").checked) {
                //set notHot to "1"
                sMP = sMP + 4;
            }
            else if (document.getElementById("notHot").checked) {
                //set Hot to "1"
                sMP = sMP + 8;
            }

            if (document.getElementById("Wet").checked) {
                //set dry to "1"
                sMP = sMP + 2;
            }
            else if (document.getElementById("Dry").checked) {
                //set wet to "1"
                sMP = sMP + 1;
            }
            
            return sMP;
        }
    </script>    

    <script>
        var on = false;
        function toggleSideBar(){
            var side = document.getElementById('sidebar');
            
            if(on)
            {
                console.log("off");
                side.style.left = "-200px";
                on = false;
            }
            else{
                console.log("on");
                side.style.left = "0px";
                on = true;
            }        
        }
        
    </script>

    <!-- Bootstrap stuff -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    
</html>