<head>
    <title>Which Wings</title>
    <link href="/static/style.css" rel="stylesheet">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1092993779160-b5l7640cfd4e0te7b50o3sopu4ledgjo.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/static/logout.js"></script>
</head>

<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/search">Search</a>
  <a href="/profile">Profile</a>
  <div class = "navbar-right">
        <a href="/login">Login</a>
        <a href="/logout" onclick="signOut();">Logout</a>
    </div>
</div>

<body>
  <h1>Search</h1>
  <p>Please type in a wing name or flavor preferences to search for. Flavor preferences must be separate by a comma.</p>
  <div class="search-container">
    <form action="/search-results/" method="POST">
      <input type="text" placeholder="Search..." name="searchterm">
      <button type="submit">Submit</button>
    </form>
  </div>

  <ul>
    {% for w in wings %}
        <li>{{ w['name'] }}</li>
        <p>Description: {{ w['description'] }}</p>  
    {% endfor %}
  </ul>
</body>
</html>