<head>
  <title>Which Wings</title>
  <link href="/static/style.css" rel="stylesheet">
</head>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/search">Search</a>
  <a href="/profile">Profile</a>
</div>

<body>
  <h1>Flavor Survey</h1>
  <form action="/action_page.php">
    <p>Please select at least one heat level:</p>
    <input type="checkbox" id="Mild" name="Mild" value="Mild"> <label for="Mild"> Mild</label>
    <input type="checkbox" id="Medium" name="Medium" value="Medium"> <label for="Medium"> Medium</label>
    <input type="checkbox" id="Hot" name="Hot" value="Hot"> <label for="Hot"> Hot</label>
    <br>
    <p>Please select at least one rub:</p>
    <input type="radio" id="Wet" name="rub" value="Wet"> <label for="Wet"> Wet</label>
    <input type="radio" id="Dry" name="rub" value="Dry"> <label for="Dry"> Dry</label>
    <input type="radio" id="noPreference" name="rub" value="noPreference"> <label for="noPreference"> No Preference</label>
    <br>
    <p>Please select preferred flavors:</p>
    <input type="checkbox" id="flavor1" name="flavor1" value="BBQ"> <label for="flavor1"> BBQ</label><br>
    <input type="checkbox" id="flavor2" name="flavor2" value="Butter"> <label for="flavor2"> Butter</label><br>
    <input type="checkbox" id="flavor3" name="flavor3" value="Cajun"> <label for="flavor3"> Cajun</label><br>
    <input type="checkbox" id="flavor4" name="flavor4" value="Dijon"> <label for="flavor4"> Dijon</label><br>
    <input type="checkbox" id="flavor5" name="flavor5" value="Garlic"> <label for="flavor5"> Garlic</label><br>
    <input type="checkbox" id="flavor6" name="flavor6" value="Honey"> <label for="flavor6"> Honey</label><br>
    <input type="checkbox" id="flavor7" name="flavor7" value="Honey Mustard"> <label for="flavor7"> Honey</label><br>
    <input type="checkbox" id="flavor8" name="flavor8" value="Lemon"> <label for="flavor8"> Lemon</label><br>
    <input type="checkbox" id="flavor9" name="flavor9" value="Montreal"> <label for="flavor9"> Montreal</label><br>
    <input type="checkbox" id="flavor10" name="flavor10" value="Old Bay"> <label for="flavor10"> Old Bay</label><br>
    <input type="checkbox" id="flavor11" name="flavor11" value="Parmesan"> <label for="flavor11"> Permesan</label><br>
    <input type="checkbox" id="flavor12" name="flavor12" value="Pepper"> <label for="flavor12"> Pepper</label><br>
    <input type="checkbox" id="flavor13" name="flavor13" value="Ranch"> <label for="flavor13"> Ranch</label><br>
    <input type="checkbox" id="flavor14" name="flavor14" value="Seasoned"> <label for="flavor14"> Seasoned</label><br>
    <input type="checkbox" id="flavor15" name="flavor15" value="Teriyaki"> <label for="flavor15"> Teriyaki</label><br>
    <input type="checkbox" id="flavor16" name="flavor16" value="Vinegar"> <label for="flavor16"> Vinegar</label><br>
    <input type="checkbox" id="flavor17" name="flavor17" value="Blue Cheese"> <label for="flavor17"> Blue Cheese</label><br>
    <input type="checkbox" id="flavor18" name="flavor18" value="Cayenne"> <label for="flavor18"> Cayenne</label><br>
    <input type="checkbox" id="flavor19" name="flavor19" value="Raspberry"> <label for="flavor19"> Raspberry</label><br>
    <input type="checkbox" id="flavor20" name="flavor20" value="Jerk Seasoning"> <label for="flavor20"> Jerk Seasoning</label><br>
    <input type="checkbox" id="flavor21" name="flavor21" value="Jalepeno"> <label for="flavor21"> Jalepeno</label><br>
    <input type="checkbox" id="flavor22" name="flavor22" value="Chili"> <label for="flavor22"> Chili</label><br>
    <input type="checkbox" id="flavor23" name="flavor23" value="Seasoned Salt"> <label for="flavor23"> Seasoned Salt</label><br>
    <input type="checkbox" id="flavor24" name="flavor24" value="Sweet"> <label for="flavor24"> Sweet</label><br>
    <input type="checkbox" id="flavor25" name="flavor25" value="Buffalo"> <label for="flavor25"> Buffalo</label><br>
    <br>
    <input type="submit" value="Submit">
  </form>

</body>
</html>